h1,
p {
  text-align: center;
}

.calendar-body {
  display: flex;
}
.react-calendar {
  flex-grow: 1;
  width: 80% !important;
}
.react-calendar__month-view__days__day--weekend {
  color: black !important;
}

.highlight-red {
  background-color: red !important;
}
.highlight-yellow {
  background-color: yellow !important;
}
.highlight-green {
  background-color: green !important;
}

.navigationButtonGroup{
  margin: 10px;
}
.navigationButton{
  margin: 10px;
}

.filterBlock{
  display: flex;
  margin: 20px 0px;
}

