form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

table{
    border: 1px solid black;
    margin: 0px auto;
}
th{
    padding: 5px 10px 5px 10px
}


.calendar-body{
    border: 1px solid black;
    display: flex;
}
.react-calendar{
    flex-grow: 1;
}
.react-calendar__month-view__days__day--weekend{
    color: black !important;
}

.highlight-red{
    background-color: red !important;
}
.highlight-yellow{
    background-color: yellow !important;
}
.highlight-green{
    background-color: green !important;
}

.background-float-form{
    position: absolute;
    top: 0px;
    background-color: #c4c4c4a9;
    width: 100%;
    height: 100%;
}

.float-form{
    background-color: aliceblue;
}

