.custom-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
.custom-btn:focus{
    background-color: #18801b;
}

.button:hover {
    background-color: #3e8e41;
}

.button:disabled {
    background-color: #cccccc;
    cursor: default;
}

.custom-input{
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    color: #333;
    width: auto;
    margin: 5px 0;
}




