.profile-body{
  // border: 2px solid red;
  display: flex;
}
.profile{
  margin: 100px auto;
}
.profile-item{
  margin-bottom: 30px;
}

.name-grp{
  display: flex !important;
}

.password-grp{
  display: flex;
}