.home-container {
  display: flex;
  flex-direction: column;
}

.home-heading,
.form-body {
  margin: 0px auto;
}

.form-body {
  margin-top: 30px;
}


.link {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.link:hover {
  background-color: #3e8e41;
}

.link:disabled {
  background-color: #cccccc;
  cursor: default;
}


.form-buttons {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .button {
    margin: 10px;
    width: 150px;

    @media (min-width: 768px) {
      margin: 10px 20px;
    }
  }

  .divider {
    display: none;

    @media (min-width: 768px) {
      display: block;
      height: 300px;
      margin: 0 20px;
    }
  }
}
