.home-container{
    display: flex;
    flex-direction: column;
}

.home-heading, .form-body{
    margin: 0px auto;
}

.link{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.link:hover {
    background-color: #3e8e41;
}

.link:disabled {
    background-color: #cccccc;
    cursor: default;
}